.toolbar {
  height: 100vh;
  width: 4%;
  min-height: 100%;
  font-family: gotham;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary-dark);
  color: white;
  border-right: 0.1px solid rgba($color: #fcfafa, $alpha: 0.1);
  .tools{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.4em;
   
   div{
    width: 70%;
    height: 10%;
    background-color: var(--color-secondary-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    input{
      display: none;
    }
    svg{
        font-size: 1em;    
    }
    &:hover{
        font-size: 0.9em;
        cursor: pointer;
    }
   }
  }
  .darkMode_button_container{
    width: 70%;
    height: 8%;
    border-radius: 5px;
    border: 0.1px solid rgba($color: #fcfafa, $alpha: 0.1);
    background-color: var(--color-secondary-dark);
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    &:hover{
        cursor: pointer;
        font-size: 1.2em;
    }
  }
}
