.edit_container
{
    font-size: 24px;
    font-family: gotham;
    width: 90%;
    min-height: 60px;
    height: auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.3em 1em 0.5em 1em;
    border-radius: 5px;
  
    small{
        font-size: 0.5em;
    }
    .edit_div{
        flex: 0 0 auto;
        width: 100%;
        background-color: rebeccapurple;
        padding-left: 0.2em;
        height: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.1em 0;
        small{
            font-size: 0.4em;
        }
        input{
            width: 75%;
            height: 10px;
        }
    }
}