.editor{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.7em;
    background-color: var(--color-primary-dark);
}
@media (min-width: 100px) and (max-width: 319px) {
    .editor{
        flex-direction: column;
        justify-content: center;
       }
   }
@media (min-width: 320px) and (max-width: 486px) {
   .editor{
    flex-direction: column;
    justify-content: center;
   }
  }
  @media (min-width: 487px) and (max-width: 786px) {
    .editor{
        flex-direction: column;
        justify-content: center;
       }
  }