.edit_panel {
  font-size: 24px;
  font-family: gotham;
  height: 100vh;
  min-height: 100vh;
  width: 24%;
  background-color: var(--color-primary-dark);
  // border-top-left-radius: 7px;
  // border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  overflow: auto;
  padding-bottom: 1em;
  border-left: 0.1px solid rgba($color: #fcfafa, $alpha: 0.1);
  .editor_action_button_div {
    width: 90%;
    height: 1.3em;
    display: flex;
    justify-content: space-around;
    gap: 0.2em;
    margin-bottom: 0.5em;
    button {
      border: none;
      outline: none;
      width: 20%;
      padding: 0.6em 0;
      border-radius: 4px;
      background-color: var(--color-button-primary);
      color: white;
      font-size: 0.5em;
      font-family: gotham;
      font-weight: 570;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &.editor_action_button_div > button:nth-child(4) {
      width: 30%;
      padding-left: 0.7em;
      padding-right: 0.3em;
      justify-content: space-between;
      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
    }
  }
  .edit_container {
    width: 90%;
    height: 10%;
    height: auto;
    color: white;
    background-color: var(--color-secondary-dark);
    padding: 0.4em 0.5em;
    border-radius: 5px;
    transition: height 0.4s ease;
    .edit_container__title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      small {
        font-size: 0.5em;
        letter-spacing: 0.2em;
      }
      svg{
        transition: transform 0.4s ease;
      }
     &:hover{
      cursor: pointer;
      svg{
        transform: translateY(2px);
      }
     }
    }
    .expanded_edit_container{
      width: 100%;
      height: 10%;
      font-size: 0.6em;
      .expanded_edit_container__crop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.4em;
        small{
          cursor: pointer;
        }
        div{
          small{
            margin: 0 0.5em;
            font-size: 0.8em;
          }
        }
      }
      .expanded_edit_container__resize{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-top: 0.9em;
       small{
        cursor: pointer;
        font-size: 0.8em;
       }
       div{
        width: 70%;
        display: flex;
        align-items: center;
         small{
          margin: 0 0.5em;
         }
        .group_buttons{
          display: flex;
          justify-content: space-evenly;
          background-color: var(--color-primary-dark);
          div{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          input{
            width: 40px;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary-dark);
            padding: 0.2em;
            text-align: center;
            color: white;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
         }
       }
    }
    .expanded_edit_container__rotate{
      width: 100%;
      margin-top: 0.9em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 2em;
      small{
        cursor: pointer;
      }
    }
    .expanded_edit_container__adjustement{
      padding: 0.3em 0;
      .slider_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.6em 0;
        padding: 0 0.5em;
        input{
          width: 70%;
        }
      }
    }
  }
  }
}
        
@media (min-width: 100px) and (max-width: 319px) {
  .edit_panel {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 486px) {
  .edit_panel {
    width: 100%;
  }
}
@media (min-width: 487px) and (max-width: 786px) {
  .edit_panel {
    width: 100%;
  }
}
/*
.edit_panel {
  font-size: 24px;
 font-family: gotham;
  min-height: 100vh;
  height: auto;
  width: 25%;
  // background-color: #0e2954;
  background-color: var(--color-primary-dark);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  overflow: auto;
  padding-bottom: 1em;
  .editor_action_button_div {
    width: 90%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    gap: 0.2em;
    margin-bottom: 0.5em;
    button {
     border: none;
     outline: none;
     width: 20%;
     padding: 0.6em 0;
     border-radius: 4px;
     background-color: var(--color-button-primary);
     color: white;
     font-size: 0.5em;
     font-family: gotham;
     font-weight: 570;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
    }
    &.editor_action_button_div>button:nth-child(4){
      width: 30%;
      padding-left: 0.7em;
      padding-right: 0.3em;
      justify-content: space-between;
      &:hover{
        svg{
          transform: scale(1.1);
        }
       }
    }
  }
  .edit_container {
    width: 90%;
    min-height: 10%;
    height: auto;
    color: white;
    background-color: var(--color-secondary-dark);
    padding: 0.4em 0.5em;
    border-radius: 5px;
    position: relative;
    transition: height 0.4s ease;
    small {
      font-size: 0.5em;
      letter-spacing: 0.2em;
    }
    .expanded_edit_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .group_buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3em;
        padding-bottom: 0.3em;
        margin-bottom: 0.3em;
        .button_controller {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #071952;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            small{
              font-size: 0.4em;
            }
            div{
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.01);
                }
            }
            svg{
                margin: 0;
                border: none;
            }
          input {
            width: 50px;
            height: 100%;
            border: none;
            outline: none;
            padding: 0.2em;
            background-color: #071952;
            text-align: center;
            color: white;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
      }
    }
    .edit_controller {
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10%;
      padding: 0.2em;
      button {
        width: 30%;
        margin-left: 0.2em;
        padding: 0.2em 0.4em;
        border: none;
        outline: none;
        background-color: var(--color-primary-red); //#4477CE;
        color: white;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          svg {
            transform: scale(1.1);
          }
        }
      }
      &:hover {
        color: var(--color-primary-red);
      }
      small {
        font-size: 0.4em;
      }
      input {
        width: 100%;
      }
    }
  }
}
@media (min-width: 100px) and (max-width: 319px) {
  .edit_panel {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 486px) {
  .edit_panel {
    width: 100%;
  }
}
@media (min-width: 487px) and (max-width: 786px) {
  .edit_panel {
    width: 100%;
  }
}


*/
